import psutil
import time

start = time.time()
for k in xrange({{ range }}):
    with open('{{ path_file }}/{{ file_name }}', 'a') as file:
        s = '{}: {} |'.format(format(float(time.time()-start), '.2f'),
                                     str(psutil.cpu_percent()))
        file.write(s)
    time.sleep(float( {{ time_sleep }} ))