---
version: '2'

services:
    router:
        restart: always
        image: router
        volumes:
            - "{{ router_path }}:/opt/router"
        command: 'python3 -m router.flaskapp.app'
    controller:
        restart: always
        image: controller
        volumes:
            - "{{ controller_path }}:/opt/controller"
        command: 'python3 -m controller.flaskapp.app'
    {% for agent in agents -%}
    agent_{{ agent }}:
        restart: always
        image: agent
        volumes:
            - "{{ agent_path }}:/opt/agent"
        command: 'python3 -m agent.flaskapp.app'
    {% endfor %}
